<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Dobieracz par prezentowych</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link href="../../../css/gtvg.css" media="all" rel="stylesheet" th:href="@{/css/gtvg.css}" type="text/css"/>
</head>

<body>

<form action="#" method="post" th:action="@{/gifts}" th:object="${wrapper}">

  <table class="table table-bordered table-hover table-striped"
         th:with="persons = ${ {'name':'Marek', 'surname':'Stopka'} }">
    <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person, stat : ${persons}">
      <td><input th:name="|persons[${stat.index}].name|" th:value="${person.getName()}"
                 type="text"/></td>
      <td><input th:name="|persons[${stat.index}].surname|" th:value="${person.getSurname()}"
                 type="text"/></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success" type="submit" value="submit">Zrób losowanie</button>
</form>

</body>

</html>
